<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#each schools}}
      <div class="container">
        <img  src="{{imageUrl}}"/>
        <a href="{{Link}}">{{name}}</a>
        <div class="">
          Distance: {{size}}
        </div>
        <div class="">
          Check Your Commute time
          <ul>
            <li>car: {{commute.car}}</li>
            <li>bus: {{commute.bus}}</li>
            <li>walk: {{commute.walk}}</li>
          </ul>
        </div>
        <div class="">
          Math Proficiency Score
          <div id="myProgress">
            <div id="myBar"></div>
          </div>
          <style>
          #myProgress {
              width: 100%;
              background-color: grey;
            }
            #myBar {
              width: {{test.Math}}%;
              height: 30px;
              background-color: green;
            }
          </style>
          <!-- <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{schools.test.Math}}"
              aria-valuemin="0" aria-valuemax="100" style={width:"{{test.Math}}%"}>
              {{test.Math}}%
            </div>
          </div>-->
        </div>
        <div class="">
          Math Proficiency Score
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{test.English}}"
              aria-valuemin="0" aria-valuemax="100" style="width:{{test.English}}%">
              {{test.English}}%
            </div>
          </div>
        </div>
        <div class="">
          Languages offered <button>X</button>
        </div>
      </div>
      <div class="">
        Demographics <button type="button" name="button">expand</button>
        <ul>
        </ul>
      </div>
      <div class="">
        Afterschool Programs <button type="button" name="button">expand</button>
        <div class="">
        </div>
      </div>
    {{/each}}
  </body>
</html>
